@using ProyectoInventarioWeb.Models.ViewModel;
@model List<ListModelosViewModel>
@{
    Layout = null;
}

<style type="text/css">
    .thead-dark th {
        background: #343a40;
        color: white;
        border-color: None;
    }
</style>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oModelo in Model)
        {
            <tr>
                <th scope="row">@oModelo.ID</th>
                <th>@oModelo.Codigo</th>
                <td>@oModelo.Nombre</td>
                <td><input type="button" class="btn btn-primary" value="Editar" onclick="document.location.href='@Url.Content("~/Modelos/Edit/?id= " + oModelo.ID)'" /></td>
                <td><input type="button" class="btn btn-default" value="Eliminar" onclick="jsDelete(@oModelo.ID)" /></td>
            </tr>
        }
    </tbody>
</table>

