@using ProyectoInventarioWeb.Models.ViewModel
@model CategoriasViewModel

@{
    ViewBag.Title = "Editar";
}

<h2 style="text-align:center;">@ViewBag.Title</h2>
<hr style="width:100%;" />

@Styles.Render("~/Content/style.css")
<form>
    <div class="contenedor-inputs">
        @Html.HiddenFor(d => d.ID, new { id = "id" })
        <div class="form-group">
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { id = "Nombre", @class = "input" })
        </div>
        <div class="input-grup">
            <button type="button" class="btn btn-primary" onclick="jsEdit()" style="margin: 10px"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar Cambios</font></font></button>
            <a type="button" class="btn btn-primary" href="@Url.Content("~/Categorias")" style="margin:10px; background: Crimson; border:none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></a>
        </div>
    </div>
</form>

<script>
    var url = "@Url.Content("~/Categorias/Update")";
    function jsEdit() {
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                Nombre: document.getElementById("Nombre").value,
                ID : document.getElementById("id").value
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            } else {
                alert("Erro al Ejecutar ");
            }
        }).then(function (Data) {
            if (Data != "1") {
                alert(Data);
            } else {
                document.location.href = "@Url.Content("~/Categorias")";
            }
        })
    }
</script>

