@model ProyectoInventarioWeb.Models.ViewModel.ProductosViewModel
@{
    ViewBag.Title = "New";
    Layout = null;

}

@Styles.Render("~/Content/style.css")
<form class="form-register">
    <div class="contenedor-inputs">
        <div class="input-grup">
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { id = "name", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.SKU)
            @Html.TextBoxFor(d => d.SKU, new { id = "sku", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.Precio)
            @Html.TextBoxFor(d => d.Precio, new { id = "precio", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.Existencia)
            @Html.TextBoxFor(d => d.Existencia, new { id = "existencia", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.idCategoria)
            @Html.TextBoxFor(d => d.idCategoria, new { id = "idcategoria", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.idMarca)
            @Html.TextBoxFor(d => d.idMarca, new { id = "idmarca", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.idModelo)
            @Html.TextBoxFor(d => d.idModelo, new { id = "idmodelo", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.Año)
            @Html.TextBoxFor(d => d.Año, new { id = "año", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.idProveedor)
            @Html.TextBoxFor(d => d.idProveedor, new { id = "idproveedor", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.Descripcion)
            @Html.TextBoxFor(d => d.Descripcion, new { id = "descripcion", @class = "input" })
        </div>
        <div class="input-grup">
            @Html.LabelFor(d => d.Fecha)
            @Html.TextBoxFor(d => d.Fecha, new { id = "fecha", @class = "input" })
        </div>
    </div>
</form>

<script>
    var url = "@Url.Content("~/Productos/Save")";
    function jsAdd() {
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                Nombre: document.getElementById("name").value,
                SKU: document.getElementById("sku").value,
                Precio: document.getElementById("precio").value,
                Existencia: document.getElementById("existencia").value,
                idCategoria: document.getElementById("idcategoria").value,
                idMarca: document.getElementById("idmarca").value,
                idModelo: document.getElementById("idmodelo").value,
                Año: document.getElementById("año").value,
                idProveedor: document.getElementById("idproveedor").value,
                Descripcion: document.getElementById("descripcion").value,
                Fecha: document.getElementById("fecha").value
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            } else {
                alert("Erro al Ejecutar ");
            }
        }).then(function (Data) {
            if (Data != "1") {
                alert(Data);
            } else {
                document.location.href = "@Url.Content("~/Productos")";
            }
        })
    }
</script>

